{% extends "layout.html" %}
{% block content %}
    <h2>Add new recipe</h2>
    <form action="{{ url_for('add') }}" method=post>
        <p class="heading">Title: <input type=text name=title>
        <p class="heading">Author: <input type=text name=author>
        <p class="heading">Ingredient List: 
            <textarea rows=5 cols=50 name=ingredient></textarea></p>
        <p class="heading">Amount of Time: <input type=text name=time>
        <p class="heading">Skill Level: <input type=text name=skill>
        <p class="heading">Description: 
	<textarea rows=5 cols=50 name=description></textarea></p>
	<p><input type=submit value=Add></p>
    </form>
{% endblock %}
