{% extends "layout.html" %}
{% block content %}
    <h2>Recipes Webapp</h2>

    
    <h3>Recipes</h3><hr>
    {% for rp in rps %}
    <p class=rp>
        <b>Title: </b>          {{ rp.title }} <br>
        <b>Author: </b>         {{ rp.author }} <br>
        <b>Ingredient List: </b>{{ rp.ingredient }} <br>
        <b>Amount of Time: </b> {{ rp.time }} <br>
        <b>Skill Level: </b>    {{ rp.skill }} <br>
        <b>Description: </b>    {{ rp.description }} 
        <hr>
    </p>
    {% endfor %}
    <h5>Add a new recipe <a href="{{ url_for('add') }}">here</a></h5>

{% endblock %}
