{% extends "layout.html" %}
{% block content %}

<div style="text-align: center;">
    <h3>Add new recipe</h3>

    <button><a href="{{ url_for('home') }}" style="text-decoration: none">Go back to home</a></button>
</div>

<div id="content">
    <form action="{{ url_for('add') }}" method=post>
        <p class="heading">Title: <br><input type=text name=title></p>
        <p class="heading">Author: <br><input type=text name=author></p>
        <p class="heading">Url of image: <br><input type=text name=url></p>
        <p class="heading">Ingredient List: <textarea rows=5 cols=50 name=ingredient></textarea></p>
        <p class="heading">Amount of Time: <br><input type=text name=time></p>
        <p class="heading">Skill Level: <br><input type=text name=skill></p>
        <p class="heading">Description: <textarea rows=5 cols=50 name=description></textarea></p>
        <p><input type=submit value=Add onclick="myFunction();"></p>
    </form>
</div>

<div id="loading" style="display: none; text-align: center">
    <img src="/static/loading.gif">
    <h3>Redirecting to recipes list...</h3>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("loading");
        var y = document.getElementById("content");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
</script>

{% endblock %}