{% extends "layout.html" %} {% block content %}

<div style="text-align: center;">
	<div id="content">
		<img src="/static/homepage.jpg" style="width:50%;" alt="homepage"><br><br>
		<h3>Welcome to Ronnie's recipes webapp</h3>

        <a class="btn btn-secondary" href="{{ url_for('index') }}" role="button" onclick="myFunction();" >View all recipes</a>
        <a class="btn btn-success" href="{{ url_for('add') }}" role="button" onclick="myFunction();" >Add a new recipe</a>
        <a class="btn btn-danger" href="{{ url_for('remove') }}" role="button" onclick="myFunction();" >Remove an exist recipe</a>
		
	</div>
</div>

<div id="loading" style="display: none; text-align: center">
	<img src="/static/loading.gif" alt="loading">
	<h3>Loading... </h3>
	<h6>Multiple requests to the APIs takes 20~30 seconds to complete...</h6>
</div>

<script>
	function myFunction() {
		var x = document.getElementById("loading");
		var y = document.getElementById("content");
		if (x.style.display === "none") {
			x.style.display = "block";
			y.style.display = "none";
		} else {
			x.style.display = "none";
		}
	}
</script>

{% endblock %}