{% extends "layout.html" %}
{% block content %}
    <h5>Go back to home <a href="{{ url_for('home') }}">here</a></h5>
    <h5>Add a new recipe <a href="{{ url_for('add') }}">here</a></h5>
    <h2>Recipes Webapp</h2>

    {% for rp in rps %}
    <p class=rp>
    <table border="1">
        <tr>
            <td><b>Title: </b></td>
            <td>{{ rp.title }}</td>
        </tr>
        <tr>
            <td><b>Author: </b></td>
            <td>{{ rp.author }}</td>
        </tr>
        <tr>
            <td><b>Ingredient List: </b></td>
            <td>{{ rp.ingredient }}</td>
        </tr>
        <tr>
            <td><b>Amount of Time: </b></td>
            <td>{{ rp.time }}</td>
        </tr>
        <tr>
            <td><b>Skill Level: </b></td>
            <td>{{ rp.skill }}</td>
        </tr>
        <tr>
            <td><b>Description: </b></td>
            <td>{{ rp.description }}</td>
        </tr>
    </table>
    </p>
    {% endfor %}

{% endblock %}
