{% extends "layout.html" %}
{% block content %}

    <h3>Remove an exist recipe</h3>
    
    <div id="content">
    <h5>Go back to home <a href="{{ url_for('home') }}">here</a></h5>
    <h5>Go back to view all recipes <a href="{{ url_for('index') }}">here</a></h5>

    <form action="{{ url_for('remove') }}" method=post>
        <p class="heading">Remove by title: <input type=text name=title></p>
	<p><input type=submit value=Remove onclick="myFunction();"></p>
    </form>
    </div>

    <div id="myDIV" style="display: none; text-align: center">
        <img src="/static/loading.gif">
	<h3>Redirect to recipes list...</h3>
    </div>

    <script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        var y = document.getElementById("content");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }
    </script>

{% endblock %}
